.about-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.about-hero-image {
  height: 35em;
  background-image: url('../assets/about-hero.jpg');
  background-position: 15% 90%;
  border-radius: 1em;
}

.about-hero div {
  width: 100%;
}

.about-intro {
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: left;
  color: #7a73ff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}


.about-intro-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10em;
  padding: 5em 0;
}

.about-intro div {
  width: 100%;
}

.about-intro p {
  font-size: 1.5em;
}

.about-intro img {
  width: 100%;
}

.about-hero svg {
    padding-top: 1em;
}

.about-hero svg {
    height: 7em;
}

.about-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-step svg{
  height: 25em;
  padding-right: 2em;
}

.about-step-header {
  display: flex;
}

.about-step {
  display: flex;
  justify-items: center;
  padding-left: 2em;
}

.about-steps-row {
  display: flex;
}

.about-step-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  /* padding-left: 3em; */
}

.about-about h2 {
    padding-bottom: 0.25em;
    color: #7a73ff;
}